<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    
      <%= form_for(joblist) do |f| %>
        <% if joblist.errors.any? %>
          <div class="alert alert-warning">
            <div id="error_explanation">
              
              <h2><%= joblist.errors.count %>件のエラーがあります。</h2>
              
              <ul>
                <% joblist.errors.full_messages.each do |joblist| %>
                  <li><%= joblist %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

  <div class="form-group">
            <%= f.label :content, 'タスクリスト' %>
            <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
            <%= f.label :status, 'ステータス' %>
            <%= f.text_field :status, class: 'form-control' %>
  </div>
            <%= f.submit '投稿', class: 'btn btn-primary' %>
            
          <% end %>
</div>
</div>